  <% include ./partials/header.ejs %>

   <div class="container-fluid">
    
    <button type="button" class="btn btn-primary" id="getRandom">click for quote</button>

   <!--  <form method="GET" action="quotesList">
    search quotes by category:<br>
    <input type="text" name="/category"><br>
    <input class="submit" type="submit" value="submit">
    </form> -->
     
     </div> <!-- end container fluid -->


 


  <% include ./partials/footer.ejs %>








      <!--  <a href="getquotes.html">link to qet quotes</a> -->