<% include ./partials/header.ejs %>

<div class="container-fluid">
    
  <button type="button" class="btn btn-primary" id="getRandom">get quote</button>
  <h1 id="quote"></h1>
  <h2 id="author"></h2>


     
</div> <!-- end container fluid -->


<% include ./partials/footer.ejs %>






