<% include ./partials/header.ejs %>

<div class="container-fluid">
    
  <button type="button" class="btn btn-primary" id="getRandom">get quote</button>
  <h1 id="quote"></h1>
  <h2 id="author"></h2>


<h3>update and save quote</h3>
<fieldset> 
  <form action="/api/quotes" method="post" >
    <div class="form-group col-md-8">
      <input id="newQuoteText" name="quote" class="form-control" placeholder="quote"/>
    </div>
    <div class="form-group col-md-2">
      <input id="updateQuote" class="btn btn-info col-md-12" type="submit" value="Submit">
      <input id="deleteTheQuote" class="btn btn-info col-md-12" type="submit" value="Delete">
    </div>
  </form>
</fieldset>


 <div id="quotes"></div>

  <!-- <button type="button" class="btn btn-primary" id="addRandom">add to favorites</button>
  <h1 id="quote"></h1>
  <h2 id="author"></h2>
 -->

     
</div> <!-- end container fluid -->


<% include ./partials/footer.ejs %>






