<!-- <h3>Save Quote!</h3>
<fieldset>
  <form>
    <div class="form-group col-md-4">
      <input id="newQuote" name="name" class="form-control" placeholder="Name"/>
    </div>
    <div class="form-group col-md-4">
      <input id="newQuote" class="btn btn-info col-md-12" type="submit" value="Submit">
    </div>
  </form>
</fieldset> -->