<% include ./partials/header.ejs %>
<h3>update and save quote to favorites</h3>
<fieldset> 
  <form>
    <div class="form-group col-md-4">
      <input id="newQuote" name="quote" class="form-control" placeholder="quote"/>
    </div>
    <div class="form-group col-md-4">
      <input id="update" class="btn btn-info col-md-12" type="submit" value="Submit">
    </div>
  </form>
</fieldset>



<% include ./partials/footer.ejs %>