nav.navbar navebar-default {
	width: 100%;
}
body, html {
	font-family: 'Open Sans', sans-serif;
	height: 100%;
}
.bg {
	background: url('/images/cheerup_logo.png');
	height: 100%;
	background-position: 0 25px; 
	background-repeat: no-repeat: 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#quote {
	font-size: 28px;
	color: rgba(124, 121, 121, 1);
	
}
#author {
	font-size: 20px;
	color: rgba(124, 121, 121, 1);
	font-style: italic; 
	margin-top: 0;
}
#quotes {
	font-size: 28px;
	color: rgba(124, 121, 121, 1);
/*	background-color: rgba(244, 138, 136, .25);
	border-radius: 5px;
	padding: 20px;*/
	
}

/*.jumbotron-fluid {
	background: url('/images/cheerup_logo.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/
.btn-primary {
	background-color: rgba(244, 138, 136, 1);
	border: rgba(244, 138, 136, 1);

}

.btn-primary:hover, .btn-primary:focus {
    background-color: rgba(244, 138, 136, 1);
	border: rgba(244, 138, 136, 1);
}

h3 {
	font-size: 20px;
	color: rgba(119, 119, 119, 1);
	margin: 5 auto;
	padding-left: 20px; 
}

h2 {
	font-size: 24px;
	color: rgba(119, 119, 119, 1);
	margin: 5 auto;
	padding-left: 20px; 
}

#update {
	background-color: rgba(124, 121, 121, .95);
	border: none;
}
input#newQuoteText.form-control {
	background-color: white;
	border-color: rgba(204, 204, 204, 1);
	color: rgba(204, 204, 204, 1);
}

input#updateQuote.btn.btn-info.col-md-12 {
	background-color: rgba(155, 210, 198, .9);
	border-color: rgba(155, 210, 198, 1);
}
input#deleteTheQuote.btn.btn-info.col-md-12 {
	background-color: rgba(155, 210, 198, .9);
	border-color: rgba(155, 210, 198, 1);
}
input.btn.btn-info.col-md-12:hover {
	background-color: rgba(137, 179, 170, 1);
	border: none;
}